.card {
    flex: 0 1 calc(25% - 1em);
}

.card .break-line {
    height: 1px;
    background-color: #61dafb
}

.card .card__sub-directories {
    font-size: 10px;
    color: cadetblue
}
.card .card__files {
    font-size: 10px;
    color: gray
}

@media screen and (min-width: 40em) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
 
    .card {
        flex: 0 1 calc(50% - 1em);
    }
}
 
@media screen and (min-width: 60em) {
    .card {
        flex: 0 1 calc(25% - 1em);
    }
}
 
 
@media screen and (min-width: 52em) {
    .centered {
        
    }
}